In [1]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [2]:
import pyodbc

# Ruta al archivo .accdb o .mdb
db_file = './data/07CLBB_EOD_del_GRAN_CCP.accdb'

# Conexión con driver Access (ajusta si es .mdb)
conn_str = (
    r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};'
    rf'DBQ={db_file};'
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

# Listar tablas
tables = []
for row in cursor.tables(tableType='TABLE'):
    tables.append(row.table_name)

print("Tablas encontradas:", tables)

conn.close()

Tablas encontradas: ['Diccionario', 'Estrato', 'FactorExp_Hogar', 'FactorExp_Persona', 'Histograma15', 'HOGAR', 'IngresoHogar', 'IngresoMod_Persona', 'Macrozona', 'ModoAgregado', 'ModoInforme', 'Periodo', 'PERSONA', 'Proposito', 'RangoTMH', 'Tipo Asiento', 'TramoIngreso', 'VIAJES_FDS', 'VIAJES_LAB', 'XAuto_Chofer', 'XHijos', 'XHogar_NViaje', 'XIngresoPersona', 'XtiempoMedio', 'XViajes_Adulto', 'XViajes_Infantes', 'Zona']

In [3]:
import pandas as pd
import pyodbc

conn = pyodbc.connect(conn_str)
table_name = 'Diccionario'
# Ejemplo cargando tabla en DataFrame
df = pd.read_sql(f"SELECT * FROM [{table_name}]", conn)
display(df)
df.to_excel('diccionario.xlsx', index=False)

conn.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_20536\306208433.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM [{table_name}]", conn)

      Id                Campo1 Campo2 Campo3
0      1         Modo Agregado   None   None
1      2            1.Caminata   None   None
2      3         2.No Caminata   None   None
3      4  3.Transporte Privado   None   None
4      5  4.Transporte Público   None   None
..   ...                   ...    ...    ...
418  419                 2. No   None   None
419  420      Vehículo trabajo   None   None
420  421                 1. Sí   None   None
421  422                 2. No   None   None
422  423                  None   None   None

[423 rows x 4 columns]